$primaryColor:#21B567 !default;
$primaryLightColor:#D2FBD5 !default;
$primaryDarkColor:#189B63 !default;
$primaryDarkerColor:#10825D !default;
$primaryTextColor:#ffffff !default;

@import '../sass/theme/_theme';